robotframework
requests
httplib2
#-e http://cdn.mysql.com/Downloads/Connector-Python/mysql-connector-python-2.0.4.zip#md5=3df394d89300db95163f17c843ef49df
#http://cdn.mysql.com/Downloads/Connector-Python/mysql-connector-python-2.0.4.zip#md5=3df394d89300db95163f17c843ef49df;mysql-connector-python >= "2.0.4"
#-e git+https://github.com/mysql/mysql-connector-python.git@2.2.0#egg=mysql-connector-python
