robotframework
requests
httplib2
#http://cdn.mysql.com/Downloads/Connector-Python/mysql-connector-python-2.0.4.zip#md5=3df394d89300db95163f17c843ef49df
-e git://github.com/mysql/mysql-connector-python.git@e7929787c0f3bfe9c99dbb21b3bf14650a615b1a#egg=mysql-connector-python-2.0.0